html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.bannerBox{
	width: 100%;
	position: relative;
	height: 440px;
	overflow: hidden;
}
.banner{
	width: 100%;
	margin: 0 auto;
	max-width: 1024px;
	min-width: 1000px;
	height: 440px;
	overflow: hidden;
	position: relative;
}
.bannerImgBox{
	position: absolute;
	width: 200%;
	height: 100%;
	left: 0;
	-webkit-transition:left 1s ease-in-out;
}
.bannerRight{
	left:-100%;
}
.bannerImgBox>img{
	width: 50%;
	height: 100%;
	float: left;
}

.leftBtn{
	position: absolute;
	top: 40%;
	left: 5%;
	cursor: pointer;
}
.rightBtn{
	position: absolute;
	top: 40%;
	right: 5%;
	cursor: pointer;
}

.dot{
	width: 15px;
	height: 15px;
	position: absolute;
	border: 3px solid #fff;
	background-color: black;
	border-radius: 8px;
	cursor: pointer;
}
.dot:hover{
	background-color: red;
}
.dot1{
	top:90%;
	right: 8%;
}
.dot0{
	top:90%;
	right: 5%;
}
.dot1.active,.dot0.active{
	background-color: red;
}
/*nav*/
.nav{
	width: 860px;
	height: 120px;
	position: absolute;
	top : 370px;
	left: 160px;
}
.menu{
	width: 120px;
	height: 120px;
	margin: 0 10px 20px 10px;
	/*padding-bottom:20px; */
	cursor: pointer;
	float: left;
	position: relative;
	border: 1px solid #fff;
	top: 0px;
	-webkit-transition:top .3s ease-in-out;
}
.menu>img{
	width: 120px;
	height: 120px;
}
.menu:hover{
	top: -60px;
	border: 1px solid red;
}

/*.nav.active{
	width: 130px;
	height: 900px;
	top:-900px;
	left: 300px;
}*/
.nav.active{
	/*-webkit-transition:all 1s ease-in-out;*/
	-webkit-animation:navstart 3s linear;
}
@keyframes navstart{
	0%{
		width: 130px;
		height: 900px;
		top:-900px;
		left: 300px;
	}
	25%{
		width: 130px;
		height: 900px;
		top:280px;
		left: 300px;
	}
	35%{
		width: 130px;
		height: 900px;
		top:300px;
		left: 300px;
	}
	50%{
		width: 860px;
		height: 120px;
		top : 330px;
		left: 50px;
	}
	85%{
		width: 860px;
		height: 120px;
		top : 360px;
		left: 50px;
	}
	100%{
		width: 860px;
		height: 120px;
		top : 370px;
		left: 50px;
	}
}